/* .container {
    height: 400px;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.item {
    width: 100px;
    height: 100px;
    margin: 10px;
    background: red;
} */

#header {
    height: 40px;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    .container_left {
        display: flex;
        justify-content: space-between;
        .item_left {
            margin: 5px;
        }
    }
    .container_middle {
        display: flex;
        justify-content: space-between;
        .item_middle {
            margin: 20px;
        }
    }
    .container_right{
        display: flex;
        justify-content: space-between;
        .item_right {
            margin: 3px;
        }
    }
}
